<nav class="navbar">
  <div class="navbar__menu">
    <ul class="navbar__menu--items">
      <li class="navbar__logo"></li>
      <li class="navbar__title">
        <h1>{{ title }}</h1>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/directivas" class="navbar__link">No zoy un Link</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/clientes" class="navbar__link">Zi zoy un Link </a>
      </li>
      <li>
        <div class="navbar__dropdown">
          Dropdaaaaauun

          <div class="dropdown-content">
            <a routerLink="#">Tengo</a>
            <a routerLink="#">Hambre</a>
            <a routerLink="#">Uwu</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
