<nav class="navbar">
  <div class="navbar__menu">
    <ul class="navbar__menu--items">
      <li class="navbar__logo"></li>
      <li class="navbar__title">
        <h1>{{ title }}</h1>
      </li>
      <li><a class="navbar__link">No zoy un Link</a></li>
      <li><a class="navbar__link">Zi zoy un Link </a></li>
      <li>
        <div class="navbar__dropdown">
          Dropdaaaaauun

          <div class="dropdown-content">
            <a href="#">Tengo</a>
            <a href="#">Hambre</a>
            <a href="#">Uwu</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
