.footer {
  width: 99vw;
  position: absolute;
  bottom: 0;
  height: 100px;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content--items {
  display: flex;
  list-style: none;
  margin: 0;
}
.footer__content--items li {
  margin-right: 50px;
}
