<div class="form-container">
  <div class="form-header">
    <h1>{{ formtitle }}</h1>
  </div>
  <div class="form-body">
    <form autocomplete="off" #clienteForm="ngForm">
      <div class="form-name">
        <label for="name" class="label-name"> Name: </label>
        <input
          type="text"
          [(ngModel)]="cliente.name"
          name="name"
          class="name-input"
          required
          minlength="3"
          #name="ngModel"
        />
        <div
          class="alert-error"
          *ngIf="name.invalid && (name.dirty || name.touched)"
        >
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must have at least 3 characters
          </div>
        </div>
      </div>
      <div class="form-surname">
        <label for="" class="label-surname"> Surname: </label>
        <input
          type="text"
          [(ngModel)]="cliente.surname"
          name="surname"
          class="surname-input"
          required
          minlength="3"
          #surname="ngModel"
        />
        <div
          class="alert-error"
          *ngIf="surname.invalid && (surname.dirty || surname.touched)"
        >
          <div *ngIf="surname.errors.required">Surame is required</div>
          <div *ngIf="surname.errors.minlength">
            Surame must have at least 3 characters
          </div>
        </div>
      </div>
      <!--  <div class="form-photo">
        <label for="" class="label-photo"> Photo url: </label>
        <input
          type="text"
          [(ngModel)]="cliente.photo"
          name="photo"
          class="photo-input"
        />
      </div>-->
      <div class="form-date">
        <label for="date" class="label-date"> Birthday: </label>
        <input
          type="date"
          [(ngModel)]="cliente.createAt"
          name="date"
          class="date-input"
        />
      </div>
      <div class="form-region">
        <label for="region" class="label-region"> Region: </label>
        <select
          [compareWith]="compareRegion"
          [(ngModel)]="cliente.region"
          name="region"
          class="region-input"
        >
          <option [ngValue]="undefined">--- Select a region ----</option>
          <option *ngFor="let region of regiones" [ngValue]="region">
            {{ region.name }}
          </option>
        </select>
      </div>

      <ul *ngIf="errors?.length > 0" class="list-errors">
        <li *ngFor="let err of errors">
          {{ err }}
        </li>
      </ul>

      <div class="form-submit">
        <button
          class="submit-button"
          (click)="create(event)"
          *ngIf="!cliente.id; else elseBlock"
          [disabled]="!clienteForm.form.valid"
        >
          Create
        </button>
        <ng-template #elseBlock>
          <button
            [disabled]="!clienteForm.form.valid"
            class="submit-button"
            (click)="update()"
          >
            Actualizar
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
