<div class="container">
  <app-upload-form
    *ngIf="clienteSelected"
    [cliente]="clienteSelected"
  ></app-upload-form>

  <div class="list-container">
    <div><h2>The Real Puppets!</h2></div>
    <div *ngIf="clientes?.length === 0">
      <p>
        No hay ninguna Puppet,
        <a
          *ngIf="authService.hasRole('ROLE_ADMIN')"
          routerLink="/clientes/crear"
        >
          ¿Quieres crear una?
        </a>
      </p>
    </div>
    <div class="card-list" *ngIf="clientes?.length > 0">
      <ul *ngFor="let cliente of clientes">
        <li class="card-items">
          <div [routerLink]="['/clientes/detalle', cliente.id]">
            <h3 class="card-title">
              {{ cliente.name }} {{ cliente.surname | uppercase }}
            </h3>
            <div class="photo-container">
              <img
                *ngIf="cliente?.photo"
                src="http://localhost:8080/api/uploads/img/{{ cliente.photo }}"
                alt="client.name"
              />
              <img
                *ngIf="!cliente.photo"
                src="http://localhost:8080/images/default.jpg"
                src="../../assets/default.jpg"
                alt="client.name"
              />
            </div>
          </div>
          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            class="edit-button"
            routerLink="/clientes/crear/{{ this.cliente.id }}"
          >
            Editar
          </button>
          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            class="delete-button"
            (click)="delete(cliente)"
          >
            Borrar
          </button>
          <button
            *ngIf="authService.hasRole('ROLE_ADMIN')"
            class="photo-edit"
            (click)="photoModal(cliente)"
          >
            <fa-icon [icon]="faImage"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
    <paginate-nav *ngIf="paginador" [paginador]="paginador"></paginate-nav>
  </div>
</div>
