<div class="list-container">
  <div><h2>The Real Puppets!</h2></div>
  <div *ngIf="clientes?.length === 0">
    <p>
      No hay ninguna Puppet,
      <a routerLink="/clientes/crear"> ¿Quieres crear una? </a>
    </p>
  </div>
  <div class="card-list" *ngIf="clientes?.length > 0">
    <ul *ngFor="let cliente of clientes">
      <li class="card-items">
        <h3 class="card-title">
          {{ cliente.name }} {{ cliente.surname | uppercase }}
        </h3>
        <img
          class="card-photo"
          src="{{ cliente.photo }}"
          alt="{{ cliente.name }}"
        />
        <p class="card-id">Id: {{ cliente.id }}</p>
        <p class="card-date">Birthday: {{ cliente.createAt }}</p>
        <!-- | date " EEEE dd, MMM, yyyy"-->
        <button
          class="edit-button"
          routerLink="/clientes/crear/{{ this.cliente.id }}"
        >
          Editar
        </button>
        <button class="delete-button" (click)="delete(cliente)">Borrar</button>
      </li>
    </ul>
  </div>
  <paginate-nav *ngIf="paginador" [paginador]="paginador"></paginate-nav>
</div>
